{% extends 'layouts/interno.html.twig' %}

{% block title %}{% trans %}Privacy{% endtrans %}{% endblock %}

{% block css_page %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cuba admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/themify.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/icofont.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link id="color" rel="stylesheet" href="../assets/css/color-1.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">
{% endblock css_page %}

{% block page_body %}
    <div class="page-body">
        <!-- region titolo e breadcrumb -->
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-sm-6 order-sm-1">
                        <div class="mb-3 d-block d-sm-none"></div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('ingresso') }}"><i data-feather="home"></i></a>
                            </li>
                            <li class="breadcrumb-item">{% trans %}Virtual Office{% endtrans %}</li>
                            <li class="breadcrumb-item active">{% trans %}Profilo{% endtrans %} / {% trans %}Privacy{% endtrans %}</li>
                        </ol>
                        <div class="mb-2 d-block d-sm-none"></div>
                    </div>
                    <div class="col-sm-6 order-sm-0">
                        <div class="float-sm-start">
                            <h3>{% trans %}Profilo{% endtrans %} / {% trans %}Privacy{% endtrans %}y</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- endregion Titolo e breadcrumb -->
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            {% include 'layouts/partials/session_message.html.twig' %}

            <div class="edit-profile">
                <div class="row" id="row_data">
                    <div class="col-xl-4">
                        <!-- region Dati generali -->
                        <form class="form card needs-validation" novalidate="" method="post" action="#">
                            <div class="resize_equal_height resize_equal_height_xl resize_equal_height_xxl">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">{% trans %}Permessi{% endtrans %}</h5>
                                    <div class="card-options">
                                        <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse">
                                            <i class="fe fe-chevron-up"></i>
                                        </a>
                                        <a class="card-options-remove" href="#" data-bs-toggle="card-remove">
                                            <i class="fe fe-x"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {% for permesso in permessi %}
                                            <h5>{{ permesso.nome }}</h5>
                                            <p>
                                                {{ permesso.descrizione }}
                                            </p>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="m-t-0 m-checkbox-inline custom-radio-ml">
                                                        <div class="form-check form-check-inline radio radio-primary">
                                                            <input id="permesso{{ permesso.id }}-1" class="form-check-input" type="radio" onclick="aggiornaConsenso(this)" name="permesso_{{ permesso.id }}" value="1"
                                                                    {% if permesso.consenso == true %}
                                                                        checked
                                                                    {% endif %}
                                                            >
                                                            <label class="form-check-label mb-0" for="permesso{{ permesso.id }}-1">{% trans %}Accetto{% endtrans %}</label>
                                                        </div>
                                                        <div class="form-check form-check-inline radio radio-primary">
                                                            <input id="permesso{{ permesso.id }}-0" class="form-check-input" onclick="aggiornaConsenso(this)" type="radio" name="permesso_{{ permesso.id }}" value="0"
                                                                    {% if permesso.consenso == false %}
                                                                        checked
                                                                    {% endif %}
                                                            >
                                                            <label class="form-check-label mb-0" for="permesso{{ permesso.id }}-0">{% trans %}Non accetto{% endtrans %}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-t-40"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- endregion Dati generali -->
                    </div>
                    <div class="col-xl-8">
                        <form class="form card needs-validation" novalidate="" method="post" action="#">

                            <div class="resize_equal_height resize_equal_height_xl resize_equal_height_xxl">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">{% trans %}Privacy Policy{% endtrans %}</h5>
                                    <div class="card-options">
                                        <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse">
                                            <i class="fe fe-chevron-up"></i>
                                        </a>
                                        <a class="card-options-remove" href="#" data-bs-toggle="card-remove">
                                            <i class="fe fe-x"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {% for privacy in privacyPolicy %}
                                            <h5>{{ privacy.nome }}</h5>
                                            <p>{{ privacy.descrizione }}</p>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="default-according style-1" id="accordion">
                                                        <div class="card">
                                                            <div class="card-header" id="headingOne">
                                                                <button type="button" class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne_privacy_{{ privacy.id }}" aria-expanded="false" aria-controls="collapseOne">
                                                                    {% trans %}Visualizza i dati in nostro possesso{% endtrans %}
                                                                </button>
                                                            </div>
                                                            <div class="collapse" id="collapseOne_privacy_{{ privacy.id }}" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                                                <div class="card-body">

                                                                    <br/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-t-20"></div>
                                                    <div class="m-t-0 m-checkbox-inline custom-radio-ml">
                                                        <div class="form-check form-check-inline radio radio-primary">
                                                            <input id="privacy{{ privacy.id }}-1" class="form-check-input" onclick="aggiornaConsenso(this)" type="radio" name="privacy_{{ privacy.id }}" value="1"
                                                                    {% if privacy.consenso == true %}
                                                                        checked
                                                                    {% endif %}
                                                            >
                                                            <label class="form-check-label mb-0" for="privacy{{ privacy.id }}-1">{% trans %}Accetto{% endtrans %}</label>
                                                        </div>
                                                        <div class="form-check form-check-inline radio radio-primary">
                                                            <input id="privacy{{ privacy.id }}-0" class="form-check-input" onclick="aggiornaConsenso(this)" type="radio" name="privacy_{{ privacy.id }}" value="0"
                                                                    {% if privacy.consenso == false %}
                                                                        checked
                                                                    {% endif %}
                                                            >
                                                            <label class="form-check-label mb-0" for="privacy{{ privacy.id }}-0">{% trans %}Non accetto{% endtrans %}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-t-40"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
    <form id="formAggiornaDatiPrivacy" name="formAggiornaDatiPrivacy" method="post" action="{{ path('aggiorna-dati-privacy') }}">
        <input id="inputFormName" type="hidden" name="name" value="">
        <input id="inputFormValue" type="hidden" name="value" value="">
    </form>

{% endblock page_body %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"
        integrity="sha512-72WD92hLs7T5FAXn3vkNZflWG6pglUDDpm87TeQmfSg8KnrymL2G30R7as4FmTwhgu9H7eSzDCX3mjitSecKnw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
        integrity="sha512-7x3zila4t2qNycrtZ31HO0NnJr8kg2VI67YLoRSyi9hGhRN66FHYWr7Axa9Y1J9tGYHVBPqIjSE1ogHrJTz51g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/5.3.5/simplebar.min.js"
        integrity="sha512-PXNAvB6wWywrk43aV52x7sFuo+m/2cUJYGNGYe+frlHLVMd4vEMEAvHFg1b88wECIk7r/TOejo5xL63Uf/JmHg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../assets/js/icons/feather-icon/feather-icon.js"></script>
<script src="../assets/js/scrollbar/custom.js"></script>
<script src="../assets/js/config.js"></script>
<script src="../assets/js/sidebar-menu.js"></script>
<script src="../assets/js/tooltip-init.js"></script>
<script src="../assets/js/notify/bootstrap-notify.min.js"></script>
<script src="../assets/js/notify/index.js"></script>
<script src="../assets/js/typeahead/handlebars.js"></script>
<script src="../assets/js/custom.js"></script>
<script src="../assets/js/script.js"></script>
<script src="../assets/js/theme-customizer/customizer.js"></script>
{% endblock javascript %}

{% block javascript_page %}
    <script>

		let inputName = '';
		let inputValue = '';
		const inputformName = document.getElementById('inputFormName');
		const inputformValue = document.getElementById('inputFormValue');

		function aggiornaConsenso(input){
			inputName = input.name;
			inputValue = input.value;
			if(confirm('Vuoi confermare l\'aggiornamento?')){
				chiamataApiPerAggiornareConsensi(inputName, inputValue);
			}
		}

		function chiamataApiPerAggiornareConsensi(inputName, inputValue){
			inputformName.value = inputName;
			inputformValue.value = inputValue;
			document.formAggiornaDatiPrivacy.submit();
		}

		//$(document).ready(function(){
		//	$('[name="sponsor1"], [name="sponsor0"], [name="upline1"], [name="upline0"], [name="datiPersonali1"], [name="datiPersonali0"], [name="newsletter1"], [name="newsletter0"], [name="email1"], [name="email0"]').change(function(){
		//		var $this = $(this);
		//		var id_other = $this.attr('name');
		//		if(id_other.indexOf('1') >= 0){
		//			id_other = $this.attr('name').replace('1', '0');
		//		} else{
		//			id_other = $this.attr('name').replace('0', '1');
		//		}

		//		var $other = $('[name="' + id_other + '"]');

		//		if($this.is(':checked')){
		//			$this.prop('checked', true);
		//			$other.prop('checked', false);

		//			if(confirm('Vuoi confermare l\'aggiornamento?')){
		//				$('[name="campoPrivacy"]').val($this.attr('name').replace('1', '').replace('0', ''));
		//				$('[name="valorePrivacy"]').val($this.val());
		//				document.formAggiornaDatiPrivacy.submit();
		//			} else{
		//				$this.prop('checked', false);
		//				$other.prop('checked', true);
		//			}
		//		}
		//	});
		//});
    </script>
{% endblock javascript_page %}