<li class="language-nav">
    <div class="translate_wrapper">
        <div class="current_lang">
            <div class="lang">
                <i class="flag-icon
            {% if app.user.locale|lower == 'en' %}
            flag-icon-gb
            {% else %}
             flag-icon-{{ app.user.locale|lower }}
            {% endif %}
            "></i>
                <span class="lang-txt">{{ app.user.locale }}</span>
            </div>
        </div>
        <div class="more_lang" style="width:100px;">
            <div class="lang" data-value="it">
                <a href=" {% if  app.request.attributes.get('_route_params')['id']|default(null) %}
                {{ path(app.request.attributes.get('_route'), {_locale: 'it',id:  app.request.attributes.get('_route_params')['id']}) }}
                {% else %}
                {{ path(app.request.attributes.get('_route'), {_locale: 'it'}) }}
                {% endif %}
            "><i class="flag-icon flag-icon-it"></i><span class="lang-txt"><span> (IT)</span></span></a>
            </div>
            {% for lingua in lingue %}
                <div class="lang" data-value="{{ lingua.Sigla|lower }}">
                    {% if  app.request.attributes.get('_route_params')['id']|default(null) %}
                    <a href="{{ path(app.request.attributes.get('_route'), {_locale: lingua.Sigla|lower,id:  app.request.attributes.get('_route_params')['id']}) }}">
                        {% else %}
                        <a href="{{ path(app.request.attributes.get('_route'), {_locale: lingua.Sigla|lower}) }}">
                            {% endif %}
                            <i class="flag-icon
            {% if lingua.Sigla|lower == 'en' %}
            flag-icon-gb
            {% else %}
             flag-icon-{{ lingua.Sigla|lower }}
            {% endif %}
            "></i><span class="lang-txt"><span> ({{ lingua.Sigla }})</span></span></a>
                </div>
            {% endfor %}
        </div>
    </div>
</li>