<div class="sidebar-wrapper">
    <div>
        <!-- region Logo -->
        <div class="logo-wrapper">
            <a href="{{ path('ingresso') }}"><img class="img-fluid for-light" src="{{ asset('assets/images/logo/logo.png') }}" alt=""><img class="img-fluid for-dark" src="{{ asset('assets/images/favicon.png') }}" alt=""></a>
            <div class="back-btn"><i class="fa fa-angle-left"></i></div>
            <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"></i></div>
        </div>
        <div class="logo-icon-wrapper">
            <a href="{{ path('ingresso') }}"><img class="img-fluid" src="{{ asset('assets/images/logo/iconBiokern.jpg') }}" alt=""></a>
        </div>
        <!-- endregion Logo -->
        <!-- region Menu -->
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn">
                        <a href="{{ path('ingresso') }}"><img class="img-fluid" src="{{ asset('assets/images/logo/logo-icon.png') }}" alt=""></a>
                        <div class="mobile-back text-end">
                            <span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                    </li>
                    <li class="sidebar-main-title">
                        <div>
                            <h6>{% trans %}Area personale{% endtrans %}</h6>
                            <p>{% trans %}Log in e documenti{% endtrans %}</p>
                        </div>
                    </li>
                    <li class="sidebar-list">
                            <a class="sidebar-link sidebar-title link-nav " href="{{ path('ingresso') }}"><i data-feather="home"></i><span>{% trans %}Ingresso{% endtrans %}</span></a>
                    </li>
                    {% if  app.request.server.get('ENABLE_URL_TRASFORMAZIONE_IBO') == 'true' and app.user.idRuolo == 'customer' %}
                        <li class="sidebar-list">
                            <a target="_blank" class="sidebar-link sidebar-title link-nav " href="{{ path('registrazione-ibo') }}"><i data-feather="users"></i><span>{% trans %}Diventa collaboratore{% endtrans %}</span></a>
                        </li>
                    {% endif %}
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title  " href="#"><i data-feather="user"></i><span>{% trans %}Profilo{% endtrans %}</span></a>
                        <ul class="sidebar-submenu">
                            <li>
                                {% if  app.request.server.get('ENABLE_URL_MODIFICA_PASSWORD') == 'true' %}
                                <a href="{{ path('account') }}">{% trans %}Account{% endtrans %}</a></li>
                            {% endif %}
                            <li>
                                {% if  app.request.server.get('ENABLE_URL_DATI_SPEDIZIONE') == 'true' %}
                                    <a href="{{ path('dati-indirizzo-spedizione') }}">{% trans %}Spedizioni{% endtrans %}</a>
                                {% endif %}
                            </li>
                            <li>
                                    <a href="{{ path('dati-personali') }}">{% trans %}Dati personali{% endtrans %}</a>
                            </li>

                            {% if app.user.idRuolo == 'ibo' %}
                                <li><a href="{{ path('documenti-personali') }}">{% trans %}Documenti{% endtrans %}</a>
                                </li>{% endif %}
                            <!--li><a href="{# {{ path('privacy') }} #}">{% trans %}Privacy{% endtrans %}</a></li-->
                            {% if app.user.idRuolo == 'ibo' %}
                                <li><a href="{{ path('pagamenti') }}">{% trans %}Pagamenti{% endtrans %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if app.user.idRuolo == 'ibo' %}
                        <!--region struttura-->
                        <li class="sidebar-main-title">
                            <div>
                                <h6>{% trans %}Attività{% endtrans %}</h6>
                                <p>{% trans %}Gestisci la tua rete{% endtrans %}</p>
                            </div>
                        </li>
                        <li class="sidebar-list ">
                            <a class="sidebar-link sidebar-title" href="#"><i data-feather="users"></i><span>{% trans %}La tua rete{% endtrans %}</span></a>
                            <ul class="sidebar-submenu">
                                <li><a href="{{ path('albero-unilevel') }}">{% trans %}Albero Unilevel{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="{{ path('struttura-unilevel') }}">{% trans %}La tua struttura{% endtrans %}</a>
                                </li>
                                <li>
                                    {% if  app.request.server.get('ENABLE_URL_INSERISCI_CLIENTE') == 'true' %}
                                    <a href="{{ path('nuovo-cliente') }}">{% trans %}Inserisci un nuovo cliente{% endtrans %}</a>
                                    {% endif %}
                                </li>
                                <li><a href="{{ path('carriera') }}">{% trans %}La tua carriera{% endtrans %}</a></li>
                            </ul>
                        </li>
                        <!--endregion struttura-->

                        <!--region marketing tools--->
                        <li class="sidebar-list">
                            <a class="sidebar-link sidebar-title" href="#"><i data-feather="share"></i><span>{% trans %}Marketing Tools{% endtrans %}</span></a>
                            <ul class="sidebar-submenu">
                                <li><a href="{{ path('invita-persone') }}">{% trans %}Invita persone{% endtrans %}</a>
                                </li>
                                <!-- <li><a href="#">Social Post</a></li>-->
                                <li><a href="{{ path('sito-personale') }}">{% trans %}Sito personale{% endtrans %}</a>
                                </li>
                                <!--li><a href="#">Referral link</a></li-->
                                <!--li><a href="#">Materiale per stampa</a></li-->
                            </ul>
                        </li>
                        <!--endregion--->
                    {% endif %}

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="#"><i data-feather="shopping-bag"></i><span>{% trans %}Ordini{% endtrans %}</span></a>
                        <ul class="sidebar-submenu">
                            {% if  app.request.server.get('ENABLE_URL_CREA_ORDINE') == 'true' %}
                                <li>
                                    <a target="_blank" href="{{ path('crea-nuovo-ordine') }}">{% trans %}Crea un nuovo ordine{% endtrans %}</a>
                                </li>
                            {% endif %}
                            <li><a href="{{ path('elenco-ordini') }}">{% trans %}Elenco degli ordini{% endtrans %}</a>
                            </li>
                        </ul>
                    </li>

                    {% if app.user.idRuolo == 'ibo' %}
                        <!--region guadagni e bonus-->
                        <li class="sidebar-main-title">
                            <div>
                                <h6>{% trans %}Guadagni{% endtrans %}</h6>
                                <p>{% trans %}Consulta e richiedi le provvigioni{% endtrans %}</p>
                            </div>
                        </li>
                        <li class="sidebar-list ">
                            <a title="{% trans %}Bonus{% endtrans %}" class="sidebar-link sidebar-title link-nav " href="{{ path('bonus') }}"><i data-feather="award"></i><span>{% trans %}Bonus{% endtrans %}</span></a>
                        </li>
{#                        <li class="sidebar-list">#}
{#                            <a class="sidebar-link sidebar-title link-nav" href=""><i data-feather="download"></i><span>{% trans %}eWallet{% endtrans %}</span></a>#}
{#                        </li>#}
                        <!--endregion guadagni e bonus-->
                    {% endif %}

                    <li class="sidebar-main-title">
                        <div>
                            <h6>{% trans %}Utilities{% endtrans %}</h6>
                            <p>{% trans %}Strumenti utili per la tua attività{% endtrans %}</p>
                        </div>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="{{ path('documenti') }}"><i data-feather="file-text"></i><span>{% trans %}Documenti{% endtrans %}</span></a>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="{{ path('messaggi') }}"><i data-feather="message-square"></i><span>{% trans %}Messaggi{% endtrans %}</span></a>
                    </li>
                    <!--li class="sidebar-list">
                        <label class="badge badge-info">1</label><a class="sidebar-link sidebar-title link-nav" href="{{ path('ticketSystem') }}"><i data-feather="bookmark"></i><span>Ticket System</span></a>
                    </li-->
                    <!--<li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="{{ path('multimedia-gallery') }}"><i data-feather="film"></i><span>Multimedia Gallery</span></a>
                    </li>-->
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="{{ path('logout') }}"><i data-feather="log-out"></i><span>{% trans %}Logout{% endtrans %}</span></a>
                    </li>
                </ul>
            </div>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </nav>
        <!-- endregion Menu -->
    </div>
</div>
