
        <div class="card" id="totali">
            <div class="card-body p-0">
                <div id="div_totali" class="row m-0 chart-main">

                   {% for totale in totali %}
                        <div class="col-xl-2 col-md-6 col-sm-6 p-0 box-col-6">
                            <div class="media align-items-center">

                                <div class="media-body">
                                    <div class="right-chart-content" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                         title=" {{ totale.dettaglio }} ">
                                        <span> {{ totale.titolo }} </span>
                                         {% if totale.valore == "" %}
                                            <div class="div_totali_text">
                                                 {{ totale.dettaglio }}
                                            </div>
                                         {% else %}
                                            <div class="div_totali_value">
                                                <h4> {{ totale.valore }} </h4>
                                            </div>
                                         {% endif %}
                                        <span><a href="/{{ app.request.locale }}{{ totale.link }} "> {{ totale.button }} </a></span>
                                        <hr class="d-block d-sm-none"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
