<form class="form card needs-validation" novalidate="" method="post" action="{{ path('aggiorna-dati-account') }}">
    <div class="resize_equal_height resize_equal_height_xl resize_equal_height_xxl">
        <div class="card-header">
            <h5 class="card-title mb-0">{% trans %}Gestisci i dati del tuo account{% endtrans %}</h5>
            <div class="card-options">
                <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">

                        Cos’è Lorem Ipsum?

                        Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione. È sopravvissuto non solo a più di cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci sostanzialmente inalterato. Fu reso popolare, negli anni ’60, con la diffusione dei fogli di caratteri trasferibili “Letraset”, che contenevano passaggi del Lorem Ipsum, e più recentemente da software di impaginazione come Aldus PageMaker, che includeva versioni del Lorem Ipsum.

                    </div>
                </div>
                <div class="clearflix"></div>
            </div>
        </div>
        <div class="card-footer">
            <a target="_blank" href="{{ path('redirect-wp-modifica-password') }}" id="btn_submit" class="btn btn-primary" type="submit" >{% trans %}Modifica password{% endtrans %}</a>
        </div>
        <div class="card-footer">
            {% if oblio | length == 0 or (oblio | length > 0 and oblio.richiesta_pendente == 0) %}
                <div class="col-sm-8 float-start">
                    <small>{% trans %}Desideri effettuare la richiesta di oblio dei dati{% endtrans %}</small>
                    <small>{% trans %}Prima di effettuare la richiesta di oblio assicurati di aver compreso cosa comporta tale operazione{% endtrans %}
                        <a target="_blank" href="https://www.garanteprivacy.it/regolamentoue/oblio">{% trans %}Per approfondimenti clicca qui{% endtrans %}</a>
                    </small>
                </div>
                <div class="col-sm-4 float-end">
                    <a class="btn btn-light float-end" id="btn-oblio" href="javascript:richiediOblio();">
                        <i data-feather="user-x"></i> {% trans %}Richiedi oblio{% endtrans %}
                    </a>
                </div>
            {% elseif oblio | length > 0 and oblio.richiesta_pendente == 1 %}
                <div class="col-sm-8 float-start">
                    <small>{% trans %}La tua richiesta di oblio e stata registrata il{% endtrans %} {{ oblio.data_richiesta | date("d/m/Y") }} {% trans %}alle ore{% endtrans %} {{ oblio.data_richiesta | date("H:i:s") }}.</small>
                </div>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
</form>
<script>
	function verificaNuovaPassword(){
		if(document.getElementById('new_Password').value != ""){
			document.getElementById('new_Password_confirm').setAttribute('required', ' ')
		}
	}
	function richiediOblio(){
		if(confirm('{% trans %}ALERT_JS_Sei sicuro di voler richiedere loblio del tuo account{% endtrans %}')){
			location.href = '{{ path('richiedi-oblio-account') }}';
		}
	}
</script>