<div class="card height_100" id="carriera">
    <div id="carriera_header" class="card-header">
        <div class="header-top">
            <h5 class="m-0">{% trans %}La tua Carriera{% endtrans %}</h5>
        </div>
    </div>

    <div id="carriera_container" class="card-body p-0">
        <div class="news-update ">
            {% trans %}La tua qualifica è{% endtrans %} <span class="span_qualifica_1" style="border: 1px solid #{{ info.rankAttuale.Colore }}"> {{ info.rankAttuale.Nome }}</span>
        </div>
        <div class="news-update mt-custom-n1">
            <p>{% trans %}Hai soddisfatto i requisiti della modalità FAST per ottenedere la qualifica{% endtrans %}<span class="span_qualifica_1" style="border: 1px solid #{{ info.rankSuccessivo.Colore }}"> {{ info.rankSuccessivo.Nome }}</span> .
            </p>
            {% if info.mostraTastoConferma %}
                {% trans %}Ricorda di cliccare su "CONFERMA QUALIFICA" per ottenere la qualifica di Business unit dal prossimo mese{% endtrans %}
                <br>
                <br>
                <div class="text-center">
                    <a title="" href="{{ path('conferma-qualifica') }}" class="btn btn-primary m-auto col-10">{% trans %}Conferma qualifica{% endtrans %}</a>
                </div>
            {% else %}
                <p>{% trans %}Hai confermato la qualifica{% endtrans %} <span class="span_qualifica_1" style="border: 1px solid #{{ info.rankSuccessivo.Colore }}"> {{ info.rankSuccessivo.Nome }}</span> .
                </p>
            {% endif %}

        </div>
    </div>
</div>
